In [1]:
import pandas as pd
import numpy as np
import torch

In [7]:

df = [[1, 'abc'], [2, 'sfd'], [3, 'abc'], [7, 'a'], [6, 'abc']]

In [8]:
df = pd.DataFrame(df, columns=['A', 'B'])

In [9]:
df

   A    B
0  1  abc
1  2  sfd
2  3  abc
3  7    a
4  6  abc

In [10]:
df[(df['A'] > 5) & (df['B'].str.contains('abc'))]

   A    B
4  6  abc

In [2]:
import torch.nn as nn


class Network(nn.Module):
    def __init__(self):
        super().__init__()
        self.NN = nn.Sequential(
            torch.nn.Linear(max_words, 512),
            torch.nn.ReLU(),
            torch.nn.Dropout(0.5),
            torch.nn.Linear(512, num_classes),
            torch.nn.Softmax()

        )

In [ ]:
model = Network()

In [1]:
import math
def answer_check(q2, k1, k2):
    return math.exp(2*q2*k1) / (math.exp(6*q2*k1)+math.exp(2*q2*k1)+math.exp(2*q2*k2)+math.exp(4*q2*k2))

In [2]:
answer_check(1, -2, -10)

0.999664537409836

In [3]:
def a2(q2, k1, k2):
    return math.exp(6*q2*k1) / (math.exp(6*q2*k1)+math.exp(2*q2*k1)+math.exp(2*q2*k2)+math.exp(4*q2*k2))

In [15]:
a2(-1, -1, 8)

0.9820137897689057